<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/svg" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png">

    <script type="text/javascript">
      window.mailIcon = "<%= image_url('mail-icon.png') %>"
      window.angellistIcon = "<%= image_url('angellist-icon.png') %>"
      window.commentIcon = "<%= image_url('comment-icon.png') %>"
      window.editIcon = "<%= image_url('edit-icon.png') %>"
      window.fIcon = "<%= image_url('f-icon.png') %>"
      window.friendsIcon = "<%= image_url('friend-icon.jpeg') %>"
      window.githubIcon = "<%= image_url('github-icon.png') %>"
      window.globeIcon = "<%= image_url('globe-icon.png') %>"
      window.houseIcon = "<%= image_url('house-icon.png') %>"
      window.linkedinIcon = "<%= image_url('linkedin-icon.png') %>"
      window.locationIcon = "<%= image_url('location-icon.png') %>"
      window.mailIcon = "<%= image_url('mail-icon.png') %>"
      window.pencilIcon = "<%= image_url('pencil-icon.png') %>"
      window.portfolioIcon = "<%= image_url('portfolio-icon.png') %>"
      window.searchIcon = "<%= image_url('search-icon.png') %>"
      window.signupIcon1 = "<%= image_url('signup-image-1.png') %>"
      window.signupIcon2 = "<%= image_url('signup-image-2.png') %>"
      window.signupIcon3 = "<%= image_url('signup-image-3.png') %>"
      window.unlikedThumb = "<%= image_url('unliked-thumb.png') %>"
      window.likedThumb = "<%= image_url('liked-thumb.jpg') %>"
      window.likeCircle = "<%= image_url('like-circle.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
